.formVisit{
  overflow: auto;
}

form{
  width: 90vw;
  padding: 10px 0px;
  margin: 2rem 5vw;
  align-self: center;
  border-radius: 10px;
  background-color: white;
}

fieldset{
  border: none;
  padding: 0 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

fieldset + fieldset{
  margin-top: 30px;
}

.legend{
  font: 700 21px Ubuntu;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

  margin-bottom: 10px;
}

.button-addItem{

  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  
  background-color: var(--color-background);

  outline: none;
  border: 0;
}

.equipaments, .clientData{
  width: 80vw;

  border: 1px solid black;
  border-radius: 10px;
}

.equipaments + .equipaments{
  margin-top: 10px;
}

footer{
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 15px 0;
}

.submit{
  height: auto;

  font: 500 16px Ubuntu;
  width: 50%;
  height: 30px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--color-background);

  border: 0;
}