.title{
  margin: 4% auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.goback{
  position: absolute;
  top: 30px;
  left: 30px;
}

h1{
  font: 500 35px Ubuntu;
}