.postVisitItem{
  width: 70vw;
  
  background-color: white;
  border: 1px solid black;
  border-radius: 0.8rem;
  margin-top: 2.4rem;
  overflow: hidden;
}

main{
  width: 100%;

  margin: 6px 0;

  padding-left: 5px;

  display: flex;
  flex-direction: column;
}

p{
  margin-bottom: 3px;
  font: 500 14px Ubuntu;
  text-align: start;
}

span{
  font: 500 12px Ubuntu;
}

.link{
  text-decoration: none;
  color: black;
}